
listener/node_modules
api/node_modules
.env
e0-arqui.pem
.DS_Store
requests/node_modules
validations/node_modules
recommendation-service/jobsMaster/node_modules
recommendation-service/workers/node_modules
auctions-proposals/node_modules
dump.rdb
*.pem
deploy.zip
.terraform
