services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: api
    restart: unless-stopped
    volumes:
      - ./api:/app
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - db
    env_file:
      - ./api/.env
  db:
    image: postgres
    container_name: postgres
    networks:
      - app-network
    volumes:
      - db-volume:/var/lib/postgresql/data
    env_file:
      - ./.env

  listener:
    build:
      context: ./listener
      dockerfile: Dockerfile
    container_name: listener
    restart: unless-stopped
    volumes:
      - ./listener:/app
    networks:
      - app-network
    depends_on:
      - api
    env_file:
      - ./listener/.env

  requests:
    build:
      context: ./requests
      dockerfile: Dockerfile
    container_name: requests
    restart: unless-stopped
    volumes:
      - ./requests:/app
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - api
    env_file:
      - ./requests/.env
  
  validations:
    build:
      context: ./validations
      dockerfile: Dockerfile
    container_name: validations
    restart: unless-stopped
    volumes:
      - ./validations:/app
    ports:
      - "5000:5000"
    networks:
      - app-network
    depends_on:
      - api
    env_file:
      - ./validations/.env

  recommendation-service:
    build:
      context: ./recommendation-service
      dockerfile: Dockerfile
    container_name: recommendation-service
    restart: unless-stopped
    volumes:
      - ./recommendation-service:/app
    ports:
      - "4000:4000"
    networks:
      - worker
    depends_on:
      - redis
    env_file:
      - ./recommendation-service/.env
    
  redis:
    image: redis
    container_name: redis
    # command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    networks:
      - worker
  
networks:
  app-network:
    driver: bridge
  worker:
    driver: bridge

volumes:
  db-volume:
