name: Build and Push to ECR

on:
  push:
    branches:
      - main
      - master
      - devops


permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
  

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID0}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY0}}
          aws-region: us-east-1
          #role-to-assume: arn:aws:iam::767398137403:role/backend-cd

      - name: Login to Amazon ECR
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public
          mask-password: "true"

      - name: Build, tag, and push docker image to Amazon ECR Public
        env:
          REGISTRY: ${{steps.login-ecr-public.outputs.registry}}
          REGISTRY_ALIAS: e9p9x5g6
          REPOSITORY: grupo11arquisis
          IMAGE_TAG: api
        run: |
          cd api
          docker build --platform linux/amd64 -t $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:$IMAGE_TAG .
          docker push $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:$IMAGE_TAG

      - name: Build, tag, and push docker image to Amazon ECR Public
        env:
          REGISTRY: ${{steps.login-ecr-public.outputs.registry}}
          REGISTRY_ALIAS: e9p9x5g6
          REPOSITORY: grupo11arquisis
          IMAGE_TAG: listener
        run: |
          cd listener
          docker build --platform linux/amd64 -t $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:$IMAGE_TAG .
          docker push $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:$IMAGE_TAG
 
      - name: Build, tag, and push docker image to Amazon ECR Public
        env:
          REGISTRY: ${{steps.login-ecr-public.outputs.registry}}
          REGISTRY_ALIAS: e9p9x5g6
          REPOSITORY: grupo11arquisis
          IMAGE_TAG: requests
        run: |
          cd requests
          docker build --platform linux/amd64 -t $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:$IMAGE_TAG .
          docker push $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:$IMAGE_TAG

      - name: Build, tag, and push docker image to Amazon ECR Public
        env:
          REGISTRY: ${{steps.login-ecr-public.outputs.registry}}
          REGISTRY_ALIAS: e9p9x5g6
          REPOSITORY: grupo11arquisis
          IMAGE_TAG: validations
        run: |
          cd validations
          docker build --platform linux/amd64 -t $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:$IMAGE_TAG .
          docker push $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:$IMAGE_TAG
# Deploy a EC2 instance

  deploy-to-ec2:
    runs-on: ubuntu-latest
    if: ${{always()}}
    # Tiene el requisito de que el job de antes funcione
    needs: [build-and-push]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID0}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY0}}
          aws-region: us-east-2

      # - name: Configure AWS Credentials
      #   uses: aws-actions/configure-aws-credentials@v1
      #   with:
      #     role-to-assume: arn:aws:iam::....
      #     aws-region: us-east-1 holaa

      - name: Login to Amazon ECR
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public
          mask-password: "true"

      - name: Zip artifact to deploy
        run: |
          zip -r deploy.zip scripts/ appspec.yml docker-compose.production.yml
      - name: Copy Zip to S3
        run: |
          aws s3 cp deploy.zip s3://deploy-backend/deploy.zip
      
      - name: Create CodeDeploy Deployment
        id: create-deployment-trigger
        run: |
          deploymentId=$(aws deploy create-deployment --application-name \
          Backend-proyecto --deployment-group-name deploy-backend --region us-east-2 \
          --s3-location bucket=deploy-backend,key=deploy.zip,bundleType=zip \
          --description "Automatic deployment from githubactions commit ${{github.sha}}" | jq -r '.deploymentId')
          echo "DeploymentId=$deploymentId" >> $GITHUB_OUTPUT
    
      - name: Wait for deployment to finish
        run: |
          aws deploy wait deployment-successful --deployment-id ${{ steps.create-deployment-trigger.outputs.deploymentId }} --region us-east-2
    