name: Lint Workflow

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        project: [api, listener, requests, validations]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      # - name: Install dependencies
      #   run: yarn install
      - name: Install dependencies
        run: |
          cd ${{ matrix.project }}
          yarn install

      # - name: Lint with yarn
      #   run: yarn lint
      - name: Lint with yarn
        run: |
          cd ${{ matrix.project }}
          yarn lint

      - name: echo
        run: echo "Linting complete!"

